@use "sass:math";

.container {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: math.div($m, 2);
  padding-right: math.div($m, 2);

  @include media-query('tablet') {
    width: $breakpoint-mobile;
    padding-left: $m;
    padding-right: $m;
  }
}

.container--no-padding {
  padding-left: 0;
  padding-right: 0;
}
