// Colors
$bright-red: #CB0000;

// Phosphors
$phosphor-0: #FFB700;
$phosphor-1: #CB5D00;
$phosphor-2: #862C00;
$phosphor-3: #551400;
$phosphor-4: #1E150F;

// Greys
$black: #000000;
$white:      #FFFFFF;

// Aliases
$primary: $phosphor-0;
$link: $phosphor-1;
$selection: rgba($phosphor-1, 0.8);
$focus: $white;
$error: $bright-red;
$background: $phosphor-4;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-laptop: 1280px;
$breakpoint-desktop: 1600px;

// Margin and padding
$m: 10px;

// Branding
$radius: 0;

// Header
$header-width: 200px;
$header-height: 130px;
