$button-height: 40px;

.button {
  @extend %font-paragraph;
  background-color: unset;
  color: $primary;
  border-radius: $radius;
  text-decoration: none;
  cursor: pointer;
  height: $button-height;
  padding-left: $m;
  padding-right: $m;
  user-select: none;
  border: 1px solid;

  &:active {
    background-color: rgba($primary, 0.2);
  }

  &:focus {
    @extend %phosphor--focus;
  }

  &.is-disabled {
    opacity: 50%;
    cursor: not-allowed;
  }
}

// .button--secondary {
//   background-color: $secondary;
//   color: $primary;

//   &:hover {
//     background-color: darken($secondary, 5%);
//   }

//   &:active {
//     background-color: darken($secondary, 10%);
//   }
// }
