// ========================
// CHECKBOX
// ========================
// @note: A checkbox. The actual checkbox is intended to be hidden, and represented
//  by .checkbox__indicator instead.
// ========================
// @example:
// <div class="checkbox">
//   <input type="checkbox" name="thing-is-enabled" id="my-checkbox" class="checkbox__input u-screen-reader-only" />
//   <label for="my-checkbox" class="checkbox__label">
//     <span class="checkbox__indicator"></span>
//     Option A
//   </label>
// </div>
//

.checkbox {
  display: block;
  margin-bottom: $m;
}

// ========================
// ELEMENTS
// ========================
.checkbox__input {
  &:checked + .checkbox__indicator::before,
  &:checked + .checkbox__label > .checkbox__indicator::before {
    content: '[x]';
  }

  &:focus + .checkbox__indicator,
  &:focus + .checkbox__label > .checkbox__indicator {
    outline: 1px solid $focus;
  }
}

.checkbox__indicator {
  padding-right: $m;
  padding-left: $m;
  white-space: nowrap;

  &::before {
    @extend %font-terminal;
    display: inline-block;
    content: '[ ]'
  }
}

.checkbox__label {
  @extend %font-terminal;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none; // @TODO is this chill or what?
}


// ========================
// MODIFIERS
// ========================

// ========================
// UI STATES
// ========================
.checkbox__indicator.is-disabled, .checkbox__label.is-disabled {
  opacity: 50%;
  cursor: not-allowed;
}
