.form {
  margin-bottom: 2 * $m;
}

.form__input {
  display: block;
  margin-bottom: $m;
}

.form__input-label {
  @extend %h2;
  display: flex;
  align-items: center;
  margin-bottom: $m;
}

.form__button {
  width: 100%;

  @include media-query('tablet') {
    width: 200px;
  }
}

.form__input__error {
  @extend %font-terminal;
  @extend %phosphor--error;
  display: block;
  margin-top: $m;
}
