.form {
  margin-bottom: 2 * $m;
}

.form__input {
  display: block;
  margin-top: 2 * $m;
}

.form__input-label {
  @extend %h3;
  display: block;
  margin-bottom: $m;
}

.form__button {
  width: 100%;

  @include media-query('tablet') {
    width: 200px;
  }
}

.form__input__error {
  @extend %font-terminal;
  display: block;
  color: $error;
  margin-top: $m;
}
