.input {
  width: 100%;
}

.input--text {
  @extend %font-terminal;
  color: $primary;
  display: block;
  background-color: unset;
  border-radius: $radius;
  padding: $m / 2;
  border: 1px solid $primary;
  font-size: 16px;

  &:focus {
    outline: none;
    border: 1px solid $focus;
  }

  &::placeholder {
    color: rgba($primary, 0.35);
  }

  &.has-error {
    border: 1px solid $error;
  }

  &.is-disabled {
    opacity: 50%;
    cursor: not-allowed;
  }

  @include media-query('tablet') {
    font-size: 20px;
  }
}
