// ========================
// RADIO
// ========================
// @note: A radio button. The actual radio button is intended to be hidden, and represented
//  by .radio__indicator instead.
// ========================
// @example:
// <div class="radio">
//   <input type="radio" name="some-choice" id="option-a" class="radio__input u-screen-reader-only" />
//   <label for="option-a" class="radio__label">
//     <span class="radio__indicator"></span>
//     Option A
//   </label>
// </div>
//

.radio {
  display: block;
  margin-bottom: $m;
}

// ========================
// ELEMENTS
// ========================
.radio__input {
  &:checked + .radio__indicator::before,
  &:checked + .radio__label > .radio__indicator::before {
    content: '[O]';
  }

  &:focus + .radio__indicator,
  &:focus + .radio__label > .radio__indicator {
    @extend %phosphor--focus;
  }
}

.radio__indicator {
  padding-right: $m;
  padding-left: $m;
  white-space: nowrap;

  &::before {
    @extend %font-terminal;
    display: inline-block;
    content: '[ ]'
  }
}

.radio__label {
  @extend %font-terminal;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none; // @TODO is this chill or what?
}


// ========================
// MODIFIERS
// ========================

// ========================
// UI STATES
// ========================
.radio__indicator.is-disabled, .radio__label.is-disabled {
  opacity: 50%;
  cursor: not-allowed;
}
