// ========================
// Create Path
// ========================
// @note: Form for creating a new path
// ========================
// .create-path {}

// ========================
// ELEMENTS
// ========================
.create-path__title {
  margin-bottom: $m;
}

.create-path__form__required-symbol {
  @extend %phosphor-1;
}

.create-path__form__help-icon {
  @extend %phosphor-1;
  margin-left: $m;
  cursor: pointer;

  &:focus:focus { /* Specificity hack 🥲 */
    @extend %phosphor--focus;
  }

  &.is-active {
    @extend %phosphor-0;
  }
}

.create-path__form__description {
  @extend %phosphor-1;
  margin: 0;
  margin-bottom: $m;
}

// ========================
// MODIFIERS
// ========================

// ========================
// UI STATES
// ========================
