// ========================
// AUTO SIZE TEXTAREA
// ========================
// @note: Textarea that automatically resizes to accommodate the text in it
// ========================
.auto-size-textarea {
  min-height: calc(#{$responsive-text-height} * 1.25);
  overflow-y: hidden;
  resize: none;

  @media (min-width: $breakpoint-max-terminal-text-size) {
    min-height: calc(#{$responsive-text-max-height} * 1.25);
  }
}

// ========================
// ELEMENTS
// ========================

// ========================
// MODIFIERS
// ========================

// ========================
// UI STATES
// ========================
