// ========================
// AUTO SIZE TEXTAREA
// ========================
// @note: Textarea that automatically resizes to accommodate the text in it
// ========================
.auto-size-textarea {
  min-height: initial;
  overflow-y: hidden;
  resize: none;
}

// ========================
// ELEMENTS
// ========================

// ========================
// MODIFIERS
// ========================

// ========================
// UI STATES
// ========================
