// ========================
// AUTO SIZE TEXTAREA
// ========================
// @note: Textarea that automatically resizes to accommodate the text in it
// ========================
.auto-size-textarea {
  min-height: 1px;
  overflow-y: hidden;
  resize: none;
  padding-top: #{($m / 2) + 5px}; // @NOTE magic number to align text vertically the same as .input--text
}

// ========================
// ELEMENTS
// ========================

// ========================
// MODIFIERS
// ========================

// ========================
// UI STATES
// ========================
