// ========================
// COMMAND INPUT
// ========================
// @note: The text box the user inputs commands
// ========================
.command-input {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.command-input__form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.command-input__input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.command-input__input-prompt {
  @extend %terminal-text;
  @extend %font-terminal;
  @extend %phosphor-0;
  font-style: italic;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.command-input__input {
  @extend %terminal-text;
  @extend %font-terminal;
  @extend %phosphor-0;
  font-style: italic;
  border: 0 none;
  height: 100%;
  background-color: transparent;
  border-radius: $radius;
  color: $primary;
  padding: 0;
  line-break: anywhere;

  /* @NOTE magic numbers, sorry. */
  padding-top: calc(#{$responsive-text-height} * 0.75);
  min-height: calc(#{$responsive-text-height} * 2.15);

  @media (min-width: $breakpoint-max-terminal-text-size) {
    padding-top: calc(#{$responsive-text-max-height} * 0.75);
    min-height: calc(#{$responsive-text-max-height} * 2.15);
  }

  &:focus {
    @extend %phosphor-0;
    outline: none;
    border: none;
    box-shadow: none;
  }
}


// ========================
// ELEMENTS
// ========================

// ========================
// MODIFIERS
// ========================

// ========================
// UI STATES
// ========================
