// ========================
// COMMAND INPUT
// ========================
// @note: The text box the user inputs commands
// ========================
.command-input {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.command-input__form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.command-input__input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.command-input__input-prompt {
  @extend %terminal-text;
  @extend %font-terminal;
  @extend %phosphor--primary;
  font-style: italic;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.command-input__input {
  @extend %terminal-text;
  @extend %font-terminal;
  font-style: italic;
  border: 0 none;
  height: 100%;
  background-color: transparent;
  border-radius: $radius;
  color: $primary;
  padding: 0;
  line-break: anywhere;

  &:focus {
    outline: none;
    border: none;
  }
}


// ========================
// ELEMENTS
// ========================

// ========================
// MODIFIERS
// ========================

// ========================
// UI STATES
// ========================
