// ========================
// Create Path
// ========================
// @note: Form for creating a new path
// ========================
.create-path {
  margin-top: $m;
}

// ========================
// ELEMENTS
// ========================
.create-path__form__description {
  margin: 0;
  margin-bottom: $m;
}

.create-path__form__specifier {
  color: rgba($secondary, 0.5);
}

// ========================
// MODIFIERS
// ========================

// ========================
// UI STATES
// ========================
