// ========================
// Create Path
// ========================
// @note: Form for creating a new path
// ========================
.create-path {
  margin-top: $m * 2;

  @include media-query('tablet') {
    margin-top: $m * 3;
  }
}

// ========================
// ELEMENTS
// ========================
.create-path__form__description {
  margin: 0;
  margin-bottom: $m;
}

.create-path__form__specifier {
  color: rgba($secondary, 0.5);
}

// ========================
// MODIFIERS
// ========================

// ========================
// UI STATES
// ========================
