// ========================
// HEADER
// ========================
// @note: The header / nav at the top of the page
// ========================
.header {
  display: block;
  position: relative;
}

.header-desktop {
  display: none;
  position: absolute;
  width: $header-width;
  left: -$header-width;
  padding: 0;
  color: $primary;


  @include media-query('laptop') {
    display: block;
  }

  // Nav has special links
  a {
    color: $primary;
    text-decoration: none;
  }
}

// ========================
// ELEMENTS
// ========================
.header-desktop__title {
  @extend %h1;
  font-size: 48px;
  display: block;
  text-decoration: none;
  color: $primary;
  padding-left: $m / 2;
  padding-right: $m / 2;

  @include media-query('tablet') {
    padding-left: $m;
    padding-right: $m;
  }
}

.header-desktop__nav-items {
  display: block;
  font-size: $font-size-h3;
}

.header-desktop__nav-item {
  display: block;
  padding: 0 $m;

  &.is-active {
    box-shadow: -2px 0 0 $primary;
  };
}


// ========================
// MODIFIERS
// ========================

// ========================
// UI STATES
// ========================
