// ========================
// PAGE
// ========================
// @note: Wrapper around site pages to provide consistent styling
// ========================
%page-container {
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  @include media-query('tablet') {
    width: $breakpoint-mobile;
  }
  @include media-query('laptop') {
    width: $breakpoint-tablet - ($header-width * 2);
  }
}

.page {
  @extend %page-container;
  display: block;
}

.page__content {
  padding: $m;
}
