// ========================
// TERMINAL
// ========================
// @note: The terminal that the user reads from and types into
// ========================
// .terminal { }
.terminal-item {
  @extend %terminal-text;
  @extend %font-terminal;
  white-space: pre-wrap;
  line-break: anywhere;
}


// ========================
// ELEMENTS
// ========================
.terminal__code {
  max-height: 60vh;
  overflow-y: scroll;

  /* @NOTE hide scrollbars */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  &::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }
}

// ========================
// MODIFIERS
// ========================
%terminal-item--response {
  margin-bottom: $responsive-text-height !important;

  @media (min-width: $breakpoint-max-terminal-text-size) {
    margin-bottom: $responsive-text-max-height !important;
  }
}

// .terminal-item--prompt {}
.terminal-item--response {
  @extend %terminal-item--response;
}
.terminal-item--error {
  @extend %terminal-item--response;
}

// ========================
// UI STATES
// ========================
