@mixin phosphor--text($color) {
  color: $color;
  text-shadow: 0 0 2px rgba($color, 50%),
               0 0 6px rgba($color, 50%);
}

@mixin phosphor--outline($color) {
  box-shadow: 0 0 2px rgba($color, 50%),
              0 0 6px rgba($color, 50%),
              0 0 2px rgba($color, 50%) inset,
              0 0 6px rgba($color, 50%) inset;
}

@mixin phosphor--svg($color) {
  filter: drop-shadow(0 0 2px rgba($color, 50%)) drop-shadow(0 0 6px rgba($color, 50%));

  * {
    stroke: $color;
  }
}

@mixin phosphor($color, $placeholder: $phosphor-2) {
  @include phosphor--text($color);

  * {
    @include phosphor--text($color);
  }

  &.button,.button,
  &.input,.input {
    @include phosphor--outline($color);
  }

  ::placeholder {
    @include phosphor--text($placeholder);
  }

  & svg {
    @include phosphor--svg($color);
  }
}

%phosphor-0 { @include phosphor($phosphor-0, $placeholder: $phosphor-2); }
%phosphor-1 { @include phosphor($phosphor-1, $placeholder: $phosphor-2); }
%phosphor-2 { @include phosphor($phosphor-2, $placeholder: $phosphor-3); }
%phosphor-3 { @include phosphor($phosphor-3, $placeholder: $phosphor-3); }
%phosphor-4 { @include phosphor($phosphor-4, $placeholder: $phosphor-4); }

%phosphor--white { @include phosphor($white); }
%phosphor--link { @include phosphor($link); }
%phosphor--primary { @include phosphor($primary); }

.phosphor--white { @extend %phosphor--white; }
.phosphor-0 { @extend %phosphor-0; }
.phosphor-1 { @extend %phosphor-1; }
.phosphor-2 { @extend %phosphor-2; }
.phosphor-3 { @extend %phosphor-3; }
.phosphor-4 { @extend %phosphor-4; }

/* DEBUG */
// %phosphor--fuchsia { @include phosphor(fuchsia); }
// .phosphor--fuchsia { @extend %phosphor--fuchsia; }


// svg.icon {
//   width: 32px;
//   height: 32px;
//   cursor: pointer;

//   &:focus {
//     // @include phosphor--svg(white);
//     outline: 1px solid white;
//   }
// }