// ========================
// TERMINAL TEXT
// ========================
// @note: Fluid, monospaced type, for the terminal.
// Terminal type always has the same line wrapping at every viewport width.
// It is designed to scale in size instead of re-flowing.
// ========================
/**
 * Ratio between screen width and font height for responsive terminal text
 */
 $terminal-text-size-ratio: 22;
/**
 * Point at which terminal text stops growing
 */
 $breakpoint-max-terminal-text-size: 620px;

/**
 * Placeholder to style text like part of the terminal.
 * Terminal text is monospaced and responds fluidly to width
 * of the viewport.
 */
%terminal-text {
  font-size: #{100/$terminal-text-size-ratio}vw !important;

  @media (min-width: $breakpoint-max-terminal-text-size) {
    font-size: $breakpoint-max-terminal-text-size/$terminal-text-size-ratio !important;
  }
}
