// Text selection
// NOTE: must be specified individually
::selection { background: $selection; }
::-moz-selection { background: $selection; }

// Font weights
$font-weight-regular: normal;
$font-weight-bold: bold;

// Font names
$font-family-heading: 'Zilla Slab', serif;
$font-family-paragraph: 'Zilla Slab', serif;
$font-family-terminal: 'Space Mono', monospace;

// Font style placeholders
%font-heading {
  font-family: $font-family-heading;
  font-weight: $font-weight-regular;
  line-height: 1;
}

%font-paragraph {
  font-family: $font-family-paragraph;
  font-weight: $font-weight-regular;
  line-height: 1.1;
}

%font-terminal {
  font-family: $font-family-terminal;
  font-weight: normal;
  line-height: 1;
}

// Font sizes
$font-size-h1: 36px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-paragraph: 20px;
$font-size-terminal: 20px;
$font-size-terminal-small: 18px;

// Headings
%h1, %h2, %h3 {
  @extend %font-heading;
  margin-top: 0;
  margin-bottom: 24px;
  line-height: 1.1;
}
%h1 {
  font-size: $font-size-h1;
}
%h2 {
  font-size: $font-size-h2;
}
%h3 {
  font-size: $font-size-h3;
}

h1, .h1 { @extend %h1; }
h2, .h2 { @extend %h2; }
h3, .h3 { @extend %h3; }


p, .p {
  font-size: $font-size-paragraph;
}

strong, .strong {
  font-weight: $font-weight-bold !important;
}

label, .label {
  @extend %font-heading;
}


// Links
a, .link {
  color: $link;
  text-decoration: underline;

  &:focus, &:hover, &:active {
    @extend %phosphor--link;
    color: $link;
  }
}

// General / default
html {
  @extend %font-paragraph;

  // Better Font Rendering
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: no-common-ligatures;
}
